@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Text", sans-serif;
    background-color: #FCF8F6;
}

.container {
    max-width: 1216px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 88px 0px;
}

.hero-inner {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.menu-item-container {
    width: 800px;
    h1 {
        color: #260F08;
        text-align: left;
        font-weight: 700;
        font-size: 40px;
    }
}

.hero-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 225px 225px 225px;
    gap: 24px 32px;
    width: 70%;
    .product {
        display: flex;
        flex-direction: column;
        button {
            margin-top: -25px;
            margin-bottom: 16px;
            width: fit-content;
            padding: 12px 28px;
            background-color: white;
            border: 1px solid #C73B0F;
            border-radius: 48px;
            font-family: "Red Hat Text", sans-serif;
            font-size: 14px;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 14px;
            cursor: pointer; 
        }
        button.add-to-cart::before {
            content: url('/assets/images/icon-add-to-cart.svg');
            margin-bottom: -4px;
        }
        img {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-radius: 10px;
        }
        h2 {
            color: #87635A;
            font-size: 14px;
            font-weight: 300;
        }
        h1 {
            color: #260F08;
            font-size: 16px;
            font-weight: 600;
        }
        p {
            color: #C73B0F;
            font-size: 16px;
            font-weight: 400;
        }
        p::before {
            content: '$';
        }
    }
}

.sidebar {
    background-color: white;
    width: 384px;
    padding: 24px;
    border-radius: 10px;
    text-align: center;
    .head {
        color: #C73B0F;
        font-size: 30px;
        font-weight: 700;
        text-align: left;
    }
    .foot {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid black;
        padding: 16px 0px;
        h3 {
            font-size: 18px;
            font-weight: 400;
            color: #260F08;
        }
        h2 {
            font-size: 22px;
            font-weight: 700;
            color: #260F08;
        }
    }
    .cartItem {
        padding: 20px 0px;
    }

    .cart-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.cart-item {
    padding: 16px 0px;
}

.itemCartName {
    font-size: 16px;
    color: #260F08;
    font-weight: 400;
}

.count {
    color: #C73B0F;
    text-align: start;
}


.namePrice {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #87635A;
}

.product {
    margin-bottom: 20px;
    .button-add-to-cart {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1 {
        text-align: left;
    }
}

.delElement {
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #AD8A85;
    color: #AD8A85;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
}

.cart-item {
    margin-bottom: 10px;
}

.confirm-order {
    display: none; /* Hidden by default */
    margin-top: 20px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

/* Basic styling for the pop-up */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    z-index: 1000;
}

.popup h2 {
    margin-top: 0;
}

.popup-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
